# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#exclude zephyr directory
zephyr/
build/
bootloader/
modules/
.DS_Store

#exclude zephyr directory
zephyr/
build/
bootloader/
modules/
.DS_Store


Nathans_embedded/mycode/apps/test/blinky/._.DS_Store
Nathans_embedded/mycode/apps/test/blinky/CMakeLists.txt
Nathans_embedded/mycode/apps/test/blinky/prj.conf
Nathans_embedded/mycode/apps/test/blinky/README.rst
Nathans_embedded/mycode/apps/test/blinky/sample.yaml
Nathans_embedded/mycode/apps/test/blinky/src/main.c
Nathans_embedded/mycode/include/dummy.h
Nathans_embedded/mycode/mylib/dummy.c
Nathans_embedded/mycode.tar
Nathans_embedded/.west/config
Nathans_embedded/mycode/._CMakeLists.txt
Nathans_embedded/mycode/Kconfig.csse4011
Nathans_embedded/mycode/west.yml
Nathans_embedded/mycode/apps/dk_board/sample.yaml
Nathans_embedded/mycode/apps/._.DS_Store
Nathans_embedded/mycode/apps/mpu6050_test/._.DS_Store
Nathans_embedded/mycode/apps/mpu6050_test/sample.yaml
Nathans_embedded/mycode/mylib/._CMakeLists.txt
GUI/__pycache__/gesture_recogniser.cpython-310.pyc
GUI/__pycache__/gesture.cpython-310.pyc
GUI/__pycache__/gui.cpython-310.pyc
GUI/__pycache__/mqtt.cpython-310.pyc
GUI/__pycache__/thingy52.cpython-310.pyc
